null.dwo
scripts/basic/.fixdep.cmd
scripts/basic/fixdep
scripts/kconfig/.conf.cmd
scripts/kconfig/.conf.o.cmd
scripts/kconfig/.confdata.o.cmd
scripts/kconfig/.expr.o.cmd
scripts/kconfig/.lexer.lex.c.cmd
scripts/kconfig/.lexer.lex.o.cmd
scripts/kconfig/.parser.tab.h.cmd
scripts/kconfig/.parser.tab.o.cmd
scripts/kconfig/.preprocess.o.cmd
scripts/kconfig/.symbol.o.cmd
scripts/kconfig/conf
scripts/kconfig/conf.o
scripts/kconfig/confdata.o
scripts/kconfig/expr.o
scripts/kconfig/lexer.lex.c
scripts/kconfig/lexer.lex.o
scripts/kconfig/parser.tab.c
scripts/kconfig/parser.tab.h
scripts/kconfig/parser.tab.o
scripts/kconfig/preprocess.o
scripts/kconfig/symbol.o

# Nested git repositories
techpack/audio
techpack/camera
techpack/dataipa
techpack/display
techpack/video

arch/arm64/boot/dts/vendor
